:root {
  --Purple-950: #301534;
  --Purple-600: #8B6990;
  --Purple-100: #F8EEFF;
  --Violet-600: #AD28EB;
}

@font-face {
  font-family: "Work Sans";
  src: url(./fonts/static/WorkSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url(./fonts/static/WorkSans-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url(./fonts/static/WorkSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.cover {
  --space: var(--s1, 1.5rem);
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  padding: var(--space);
}

.cover>* {
  margin-block: var(--s1, 1.5rem);
}

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: var(--space, 1.5rem);
}

.stack>* {
  margin-block: 0;
}

.center {
  box-sizing: content-box;
  max-inline-size: 60ch;
  margin-inline: auto;
  padding-inline-start: var(--s1, 1.5rem);
  padding-inline-end: var(--s1, 1.5rem);
}

.box {
  --padding: 1.5rem;
  padding: var(--padding);
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  color: #1e293b;
  border-radius: 0.5rem;

  outline: 0.125rem solid transparent;
  outline-offset: -0.125rem;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: center;
  align-items: center;
}

h1,
h2,
p {
  margin: 0;
  padding: 9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

button {
  border: 0;
}

body {
  background-color: var(--Purple-100);
  background-image: url(./images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  @media (min-width: 64rem) {
    background-image: url(./images/background-pattern-desktop.svg);
  }
}


#main {
  box-sizing: border-box;
  width: 100%;
  max-inline-size: clamp(23.4375rem, calc(11.0294rem + 55.147vw), 37.5rem);
  --padding: clamp(1.5rem, calc(0.6176rem + 3.922vw), 2.5rem);
  --space: clamp(1.5rem, calc(1.059rem + 1.961vw), 2rem);
  border-radius: 0.5rem;
}

.header {
  justify-content: start;
  --space: 1.5rem;
}

.header-icon {
  width: clamp(1.5rem, calc(0.893rem + 2.696vw), 2.188rem);
  height: auto;
  aspect-ratio: 1;
}

.header-title {
  font-family: 'Work Sans', sans-serif;
  font-size: clamp(2rem, calc(0.676rem + 5.882vw), 3.5rem);
  font-weight: 700;
  color: var(--Purple-950);
}

.accordion {
  --space: 1.5rem;
}

.accordion>h2:not(:first-child) {
  border-top: 1px solid var(--Purple-100);
  padding-top: 1.5rem;
}

.accordion-trigger {
  width: 100%;
  background-color: transparent;
  border-style: none;
  padding-inline: 0;
  margin-inline: 0;
}

.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
  border-color: #0759d5;
}

.accordion-trigger:focus {
  outline: 4px solid transparent;
}

.accordion button::-moz-focus-inner {
  border: 0;
}

.accordion-title {
  font-family: "Work Sans", sans-serif;
  font-size: clamp(1rem, calc(0.89rem + 0.49vw), 1.125rem);
  font-weight: 700;
  color: var(--Purple-950);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  text-align: left;

  border: 0.125rem solid transparent;
}

.accordion-trigger:focus-visible .accordion-title {
  border-color: var(--Violet-600);
}

.accordion-icon {
  flex-shrink: 0;
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(./images/icon-minus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.accordion-panel p {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--Purple-600);
  line-height: 1.5rem;
}


.accordion-trigger[aria-expanded="true"] .accordion-icon {
  background-image: url(./images/icon-plus.svg);
}

.accordion-panel[hidden] {
  display: none;
}

.attribution {
  font-family: "Work Sans", sans-serif;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}